<!-- Subject/Group size entry -->

<form>
    <div class="form-group">
        <label for="exampleFormControlInput1">Subject you are studying:</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="JavaScript">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Desired study group size</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Additional notes:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Prefered ways of communication/pronouns/whatever you need to let your study buddies know!"></textarea>
    </div>
</form>
<div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
        <option selected>Location Preference...</option>
        <option value="1">Zoom/Virtual</option>
        <option value="3">On-site</option>
    </select>
</div>
<br />
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Zodiac Sign
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">None</a>
        <a class="dropdown-item" href="#">Aquarius</a>
        <a class="dropdown-item" href="#">Pisces</a>
        <a class="dropdown-item" href="#">Aries</a>
        <a class="dropdown-item" href="#">Taurus</a>
        <a class="dropdown-item" href="#">Geminin</a>
        <a class="dropdown-item" href="#">Cancer</a>
        <a class="dropdown-item" href="#">Leo</a>
        <a class="dropdown-item" href="#">Virgo</a>
        <a class="dropdown-item" href="#">Libra</a>
        <a class="dropdown-item" href="#">Scorpio</a>
        <a class="dropdown-item" href="#">Sagittarius</a>
        <a class="dropdown-item" href="#">Capricorn</a>
    </div>
</div>
<br>
<button type="button" class="btn btn-dark">Submit Buddy Request!</button>
<br><br>