<!-- main section -->
<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Welcome to Study Buddy!</h2>
                <p>Study Buddy is designed to help you connect with fellow students or like minded folks who would like
                    to study the same subject together. Login, Choose a Subject, Choose to Connect Virtually or in
                    Person and Choose how many people you'd like to study with. You can see who's studying the same
                    subject and connect with them.</p>
                <!-- <a href="#" class="btnD1">Read more</a> -->
            </div>
        </div>
    </div>
</section>