<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"> {{ name }} </span></h2>
            <br>
            <p id="inQuote"></p>
            <h3 id="author"></h3>
        </div>
    </div>
</div>
<hr>
<br>
<!-- place cards here -->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 id="budReq">Buddy Requests</h3>
            <br />
            {{#each cards}}

            {{/each}}

        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<!-- SCRIPTS SHOULD BE HERE -->
<script src="js/script.js"></script>