<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/logout">
                Logout
            </a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"> {{ name }} </span></h2>
            <br>
            
        </div>
    </div>
</div>
<hr>
<br>
<!-- place cards here -->
{{#each cards}}

{{/each}}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script src="js/script.js"></script>